*
!*/
!/.gitignore
# Configs
!/fstab
!/hostname
!/locale.conf
!/localtime
!/mypackages
!/pacman.d/mirrorlist
!/resolv.conf
!/systemd/network/wired.network
!/vconsole.conf
# Services
!/systemd/system/multi-user.target.wants/systemd-networkd.service
!/systemd/system/multi-user.target.wants/systemd-resolved.service
!/systemd/system/sockets.target.wants/systemd-networkd.socket

